<div class="service_home" id="services">
    <div class="container">
        <h1 class="white">Our Services</h1>
        <h5><b class="white">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for lorem ipsum will readable content of a page when looking many web sites.</b></h5>

        <div class="clearfix margin_top3"></div>
        <!-- START BLOCK : NEWS -->
        <div class="col-xs-12 col-sm-12 col-md-3">
            <a href="{link}" title="{title}">
                <div class="data text-center animate fadeInUp" data-anim-type="fadeInUp" data-anim-delay="{delay}">
                    <img class="img-responsive" src="{src}" alt="{title}">
                    <strong>{title}</strong>
                    <p>
                        {description}
                    </p>
                </div>
            </a>
        </div>
        <!-- START BLOCK : NEWS -->
        <div class="clearfix margin_top7"></div>
        <img src="{template_location}/images/parallax-bg5.png" class="img-responsive wres animate fadeInRight" data-anim-type="fadeInRight" data-anim-delay="1300" alt="">
    </div>
</div>
<div class="clearfix"></div>