<div class="left-side">
    <div class="content-lang">
        <div>
            <strong>Content Language</strong>
            <span class="has-tip tip-right icon icon-info2" data-options="disable_for_touch:true" tooltip-help="left_languages" data-hasqtip="36"></span>
        </div>

        <div class="clearfix">
            <select class="left" id="selected_language"
                    change-language="sidebar.current_lang.code" ng-model="sidebar.current_lang.code"
                    ng-options="obj.code as obj.name for obj in sidebar.lang_items">
                <option ng-repeat value="{{obj.code}}">{obj.name}}</option>
            </select>
        </div>
    </div>
    <nav class="left-nav">
        <ul class="side-nav">
            <li ng-repeat="(key, value) in sidebar.menu_items" ng-class="active" ng-model="value.key">
                <a href="/#!/{{value.link}}">
                    <span class="small-10 columns">{{value.title}}</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="website-dev">
        <div>
            <strong>Website Development</strong>
            <span class="has-tip tip-right icon icon-info2" data-options="disable_for_touch:true" tooltip-help="website_development_inf" data-hasqtip="37"></span>
        </div>
        <div>
            <!-- ngIf: !sidebar.page_status -->
            <!-- ngIf: sidebar.page_status == 1 --><label ng-if="sidebar.page_status == 1" class="ng-scope">
            Basic info completed                <span class="icon-record color-orange right"></span>
        </label>
            <!-- ngIf: sidebar.page_status == 2 -->
        </div>
    </div>

    <div class="website-status">
        <div><strong>Website Status</strong></div>
        <div>
            <!-- ngIf: !sidebar.website_status || sidebar.website_status == 0 --><div ng-if="!sidebar.website_status || sidebar.website_status == 0" class="item-inline_block ng-scope">
            Staging                <!-- <a href="#" class="ng-preview-website"></a> -->
            <span class="icon icon-preview-website icon-gray ng-preview-website clickable mrgl5"></span>
            <span ng-click="openPreviewPopup()" class="icon icon-mobile icon-gray clickable va-mid mrgl4"></span>
        </div>
            <!-- ngIf: sidebar.website_status == 1 -->

        </div>
    </div>
</div>